<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
     <title>Document</title>
        <!-- <link rel="stylesheets" href="../public/stylesheets/style.css" --> 
        <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>-->
       
     </head>
<body>
    <div>
        <a href="/read">All Users</a>
    </div>
    <div>
        <h1>Create Student</h1>
        <form action="/create" method="post">
            <input  type="text"placeholder="enter username" name="name">username</input>
            <br><br>
            <input  type="text"placeholder="email"name='email' >email</input>
             <br><br>
            <input  type="password",placeholder="password" name="password" >password</input>
             <br><br>
            <button>Create User</button>
        </form>
    </div>
</body>
</html>