<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">back to home</a>
    <h1>Student List</h1>
    <div>
       <ul>
   <%  student.map((stud)=>{ %>
    <li>
    <p> Name: <%= stud.name %></p>
    <p> Email: <%= stud.email %></p>
    <div>
   <a href="/edit/<%= stud._id %>"> <button >Edit</button></a>
   <a href="/student/<%= stud._id %>"> <button>delete</button></a>
    </div>
    


    </li>
    <%})%>
    </ul>
    </div>
    </div>
    
</body>
</html>