<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
     <title>TeacherS Info</title>
       
       
     </head>
<body>
    <div>
        <a href="/">All Users</a>
    </div>
    <div>
        <h1>Fill Teacher Info</h1>
        <form action="/create" method="post">
            <input  type="text"placeholder="enter name" name="name">Name</input>
            <br><br>
            <input  type="text"placeholder=" subject"name=' subject' > subject</input>
             <br><br>
            <input  type="number",placeholder="age" name="age" >age</input>
             <br><br>
            <button>Create Info</button>
        </form>
    </div>
</body>
</html>